version: "3.9"

services:
    app:
        build: .
        container_name: bookstore_app
        ports:
            - "${SERVER_PORT}:8080"
        environment:
            - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
            - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
            - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
            - SPRING_JPA_HIBERNATE_DDL_AUTO=${SPRING_JPA_HIBERNATE_DDL_AUTO}
            - SPRING_JPA_SHOW_SQL=${SPRING_JPA_SHOW_SQL}
            - KEY_JWT=${KEY_JWT}
            - VNPAY_TMN_CODE=${VNPAY_TMN_CODE}
            - VNPAY_HASH_SECRET=${VNPAY_HASH_SECRET}
            - MAIL_USERNAME=${MAIL_USERNAME}
            - MAIL_PASSWORD=${MAIL_PASSWORD}
            - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
            - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
            - AWS_REGION=${AWS_REGION}
            - AWS_S3_BUCKET_NAME=${AWS_S3_BUCKET_NAME}
            - AWS_S3_BLOG_BUCKET_NAME=${AWS_S3_BLOG_BUCKET_NAME}
            - GEMINI_API_KEY=${GEMINI_API_KEY}
        depends_on:
            - db

    db:
        image: postgres:14
        container_name: bookstore_db
        restart: always
        environment:
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - TZ=Asia/Ho_Chi_Minh
        ports:
            - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

    data-seeder:
        build: ./seeder
        container_name: bookstore_seeder
        environment:
            - PYTHONUNBUFFERED=1
            - DB_HOST=db
            - DB_NAME=${POSTGRES_DB}
            - DB_USER=${POSTGRES_USER}
            - DB_PASS=${POSTGRES_PASSWORD}
            - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
            - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
            - AWS_BUCKET_NAME=${AWS_S3_BUCKET_NAME}
            - AWS_REGION=${AWS_REGION}
        depends_on:
            - db

    pgadmin:
        image: dpage/pgadmin4
        container_name: bookstore_pgadmin
        environment:
            - PGADMIN_DEFAULT_EMAIL=admin@admin.com
            - PGADMIN_DEFAULT_PASSWORD=root
        ports:
            - "8085:80"
        depends_on:
            - db
volumes:
    db_data:
