@import "tailwindcss";

.account-main {
  @apply grid-rows-2 ml-3;
}

.account-rank {
  @apply bg-[var(--components-color)] rounded-xl;
}

.account-rank img {
  @apply rounded-xl;
}

.account-info {
  @apply bg-[var(--components-color)] mt-2 p-5 rounded-xl;
}

.account-nav .main-nav .nav-link {
  @apply flex flex-row justify-start py-2 px-7 gap-4 text-[#080909] rounded mb-1 transition-all duration-300 no-underline;
}

.account-nav .main-nav .nav-link:hover {
  @apply bg-[#c74d4d] text-white;
}

.account-nav .main-nav .nav-link.active {
  @apply bg-[#c74d4d] text-white font-semibold;
}

/* Radio button gender */
.account-info input[type="radio"] {
  @apply accent-red-600;
}

/* Birthday input */
.account-info .birthday-input {
  @apply border border-gray-300 rounded px-2 py-2 text-center outline-none;
}

.account-info .birthday-input:focus {
  @apply border-blue-500;
}