@import "tailwindcss";

.account-container {
  @apply grid grid-cols-[2fr_7fr] mx-30 my-4;
}

.account-nav {
    @apply bg-[var(--components-color)] py-4 rounded-xl h-fit;
}

.top-nav {
    @apply mx-auto;
}

.top-nav .content {
    @apply grid grid-rows-2 text-center px-8 py-4 mx-auto w-full;
}

.top-nav h2 {
    @apply py-3 my-2 font-normal text-[var(--components-color)];
}

.main-nav {
    @apply grid grid-rows-5;
}

.account-main {
    @apply grid-rows-2 ml-3;
}

.account-rank {
    @apply bg-[var(--components-color)] rounded-xl;
}

.account-rank img {
    @apply rounded-xl;
}

.account-info {
    @apply bg-[var(--components-color)] mt-2 p-5 rounded-xl;
}

.account-nav .main-nav .nav-link {
  @apply flex flex-row justify-start py-2 px-7 gap-4 text-[#080909] rounded mb-1 transition-all duration-300 no-underline border-0;
}

.account-nav .main-nav .nav-link:hover {
  @apply bg-[var(--primary-color)] text-white;
}

.account-nav .main-nav .nav-link.active {
  @apply bg-[var(--primary-color)] text-white font-semibold;
}

.account-logged-avatar {
    @apply w-22 h-22 m-auto;
}

.account-logged-avatar-text {
    @apply text-3xl;
}

.mirror-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
