server:
  port: 8081

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/bookstore}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: ${SPRING_JPA_SHOW_SQL:true}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: Asia/Ho_Chi_Minh
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

# Spring Boot Actuator configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

# AWS S3 configuration
aws:
  s3:
    access-key: ${AWS_ACCESS_KEY_ID:your-access-key}
    secret-key: ${AWS_SECRET_ACCESS_KEY:your-secret-key}
    region: ${AWS_REGION:us-east-1}
    bucket-name: ${AWS_S3_BUCKET_NAME:blogadmin-s3}
    
# ﻿server:
#   port: 8081

# spring:
#   datasource:
#     url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/bookstore}
#     username: ${SPRING_DATASOURCE_USERNAME:postgres}
#     password: ${SPRING_DATASOURCE_PASSWORD:123456}
#     driver-class-name: org.postgresql.Driver

#   jpa:
#     hibernate:
#       ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
#     show-sql: ${SPRING_JPA_SHOW_SQL:true}
#     properties:
#       hibernate:
#         dialect: org.hibernate.dialect.PostgreSQLDialect
#         jdbc:
#           time_zone: Asia/Ho_Chi_Minh

# springdoc:
#   api-docs:
#     path: /v3/api-docs
#   swagger-ui:
#     path: /swagger-ui.html

# # Spring Boot Actuator configuration
# management:
#   endpoints:
#     web:
#       exposure:
#         include: health,info,metrics
#   endpoint:
#     health:
#       show-details: when-authorized

