server:
  port: 8080

spring:
  # Uncomment để dùng PostgreSQL
  # datasource:
  #   url: jdbc:postgresql://localhost:5432/bookstore
  #   username: postgres
  #   password: 123456
  #   driver-class-name: org.postgresql.Driver

  # H2 Database (in-memory - cho development)
  datasource:
    url: jdbc:h2:mem:bookstore
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui
    enabled: true